body {
  background-color: rgb(0, 152, 247);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: rgba(39, 152, 222, 0.427);
  text-align: center;
}

h1 {
  color: rgb(14, 14, 14);
  margin-left: 20px;
}

h3 {
  color: rgb(14, 14, 14);
  margin-left: 20px;
}

h4 {
  color: rgb(14, 14, 14);
  margin-left: 20px;
}

nav {
  background-color: rgb(23, 89, 131);
  text-align: center;
  margin: 0;
  padding: 0;
}

form {
  background-color: rgb(23, 89, 131);
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(247, 247, 247);
}

#buscador {
  width: 200px;
  margin: 10px auto;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#buscar {
  width: 100%;
  height: 30px;
  padding: 0px;
  margin: auto;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

#boton-buscar {
  background-color: #006eff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

#resultados {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  background: steelblue;
  width: auto;
  justify-content: center;
}

.item {
  background: black;
  width: 150px;
  height: 150px;
  margin: 15px;
}

/* visited link 
  overflow: hidden;


/* visited link */
a:link {
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(0, 191, 255);
}

/* selected link 
a:active {
  color: rgb(255, 187, 0);
  background-color: #5f76b0;
}

style div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}


/* imágenes */
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
